.designer {
    display: flex;
    height: 100vh;
    // justify-content: space-between;

    &__portfolio {
        overflow-y: scroll;
        padding-bottom: 2rem;
    }
    &__widgets {
        // flex-basis: 100%;
    }
}

.portfolio {
    &__page {
        display: inline-block;
        width: 8.5in;
        height: 11in;
        margin: 2rem;
        background: #fff;
    }
}

.widgetPanel {
    // border: 3px solid grey;
    // width: 40vw;
    // height: 95vh;
    // padding: 1rem;
}
.widgetContainer {
    // margin: 0.5rem;
    // padding: 0.5rem 1rem;
    // border: 3px solid white;
    // border-radius: 10px;
    // text-align: center;
}
