// .widget {
//     border: 1px solid black;
//     border-radius: 8px;
// }

.widget-list__tab {
    overflow-y: scroll;
    height: 89vh;
}

.widget__container p,
h1,
h2,
h3,
h4,
h5 {
    color: black;
}
